<!-- Modified by Yu-Hsuan Yen -->
<!-- Post Header -->
<style type="text/css">
    header.intro-header{
    }
    <% if (config.signature) {%>
    #signature{
        background-image: url('<%= config.root + config["signature-img"] %>');
    }
    <%}%>
   .post-heading{
    padding:20px;
    }
  .person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
  }
  .person:hover {
    border-color: #f1f1f1;
  }

</style>

<header id="headerid" class="w3-indigo intro-header" style="position:relative;">
    <!-- Signature -->
    <div  id="signature" >
	
        <div class="container">
            <div class=" row" >
			<% if (theme.ribban_bg) {%>
			<canvas id="particles-js-canvas" style="position:absolute;z-index:1;top:0px;left:0px;" width="100%" height="50%"></canvas>
			<% } %>
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" style="z-index:2;">
                <% if (is_post()) { %>
                    <div class="post-heading" style="padding:40px">
                        <div class="tags">
                            <% page.tags.forEach(function(tag){ %>
                              <a class="tag" href="<%= config.root %>tags/#<%= tag.name %>" title="<%= tag.name %>"><%= tag.name %></a>
                            <% }) %>
                        </div>
                        <h1><%= page.title %></h1>
                        <h2 class="subheading"><%= page.subtitle || "" %></h2>
                        <span class="meta">
                            Posted by <%- page.author || config.author %> on
                            <%= page.date.format(config.date_format) %>
                        </span>
                    </div>
                <% } else { %>
				<% if (is_home() && theme.slideshow) { %>
				<!-- slideshow -->
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
					  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					  <li data-target="#myCarousel" data-slide-to="1"></li>
					  <li data-target="#myCarousel" data-slide-to="2"></li>
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
					  <div class="item active">
						<img src="img/slideshow/slider1.jpg" alt="APP">
						<div class="carousel-caption">
						  <h3>New York</h3>
						  <p>The atmosphere in New York is lorem ipsum.</p>
						</div>      
					  </div>

					  <div class="item">
						<div class="container">
						<img src="img/slideshow/slider2.jpg" alt="website">
						<div class="carousel-caption">
						  <h3>Chicago</h3>
						  <p>Thank you, Chicago - A night we won't forget.</p>
						</div>
						</div>		
					  </div>
					
					  <div class="item">
						<img src="img/slideshow/slider3.jpg" alt="GZH">
						<div class="carousel-caption">
						  <h3>LA</h3>
						  <p>Even though the traffic was a mess, we had the best time playing at Venice Beach!</p>
						</div>      
					  </div>
					</div>

					<!-- Left and right controls -->
					<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
					  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					  <span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
					  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					  <span class="sr-only">Next</span>
					</a>
				</div>
                 <% } else { %>
                    <div class="site-heading"  style="padding:40px">
                        <h1><%= page.title || config.title %></h1>
                        <!--<hr class="small">-->
                        <span class="subheading"><%= page.description || config.subtitle || "" %></span>
                    </div>
                <% } %>
                <% } %>
                </div>
            </div>
        </div>
    </div>
</header>
<% if (theme.ribban_bg) {%>
<script>
    document.addEventListener('touchmove', function (e) {
        e.preventDefault()
    })
	var hder = document.getElementById('headerid');
    var c = document.getElementsByTagName('canvas')[0],
        x = c.getContext('2d'),
        pr = window.devicePixelRatio || 1,
        w = window.innerWidth,
		
        h = window.innerHeight/2,
        f = 90,
        q,
        m = Math,
        r = 0,
        u = m.PI*2,
        v = m.cos,
        z = m.random
    c.width = w*pr
    c.height = h*pr
    x.scale(pr, pr)
    x.globalAlpha = 0.6
    function i(){
	    var hder = document.getElementById('headerid');
		if(hder)
	    {
   		h = hder.clientHeight;
		c.height = h*pr;
		}
        x.clearRect(0,0,w,h)
        q=[{x:0,y:h*.7+f},{x:0,y:h*.7-f}]
        while(q[1].x<w+f) d(q[0], q[1])
    }
    function d(i,j){   
        x.beginPath()
        x.moveTo(i.x, i.y)
        x.lineTo(j.x, j.y)
        var k = j.x + (z()*2-0.25)*f,
            n = y(j.y)
        x.lineTo(k, n)
        x.closePath()
        r-=u/-50
        x.fillStyle = '#'+(v(r)*127+128<<16 | v(r+u/3)*127+128<<8 | v(r+u/3*2)*127+128).toString(16)
        x.fill()
        q[0] = q[1]
        q[1] = {x:k,y:n}
    }
    function y(p){
        var t = p + (z()*2-1.1)*f
        return (t>h||t<0) ? y(p) : t
    }
    document.onclick = i
    document.ontouchstart = i
    i()
</script>
<% } %>